.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    width: calc(100vw - 40px);
    margin: 20px;
}
table,
td {
    padding: 5px;
    border: 1px solid;
    border-collapse: collapse;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}